@import "../../styles/imports.scss";

.wrapper {
    @include flex(center, flex-start);
    position: relative;
    width: 120px;
    cursor: pointer;
}

.input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.label {
    font-size: 1em;
}

.circle__out {
    @include flex(center, center);
    border: 2px solid $primaryColor;
    background: $whiteColor;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 50ms ease-in-out;

    &:hover {
        border-color: $primaryDarkColor;
    }
}

.circle__in {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    visibility: hidden;
    transition: 50ms ease-in-out;
}

.circle__expenses {
    @extend .circle__in;
    background: $expenses65AlfaColor;
}

.circle__revenues {
    @extend .circle__in;
    background: $revenues65AlfaColor;
}

.input:checked + .circle__out > .circle__in {
    visibility: visible;
}