@import "../../styles/imports.scss";

.wrapper {
    position: relative;
    min-height: 75px;
    width: 100%;
    background: $whiteColor;
    font-size: 1.2em;
}

.label {
    position: absolute;
    top: 30px;
    transition: 150ms ease-in-out;
}

.feedback {
    position: absolute;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: 5px;
    font-size: 0.8em;
    opacity: 0.8;
}

.input {
    position: absolute;
    background: transparent;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid $primaryColor;
    margin: 1em 0 0 0;
    padding: 0.2em;
    font-size: 0.8em;
    outline: none;
    color: $primaryFontColor;
    resize: none;
    transition: 50ms ease-in-out;

    &:focus,
    &:active {
        border-color: $primaryDarkColor;
        box-shadow: 0 1px 1px -2px $primaryDarkColor;
    }
}

.valid {
    border-bottom: 2px solid $validColor !important;
}

.feedback {
    position: absolute;
    bottom: 0;
    font-size: 0.6em;
    color: $validColor;
}

.textarea__wrapper {
    @extend .wrapper;
    min-height: 140px;
}

.textarea {
    @extend .input;
    height: 100px;
    font-size: 0.9em;
}
