{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "rules": {
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ],
    "react/button-has-type": 0,
    "linebreak-style": ["error", "windows"],
    "react/jsx-filename-extension": [
      1,
      {
        "extension": [".js", ".jsx"]
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "parser": "babel-eslint"
}
