@import '../../styles/imports.scss';

.wrapper {
  position: absolute;
  top: 3.5em;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2em;
}

.radios {
  @include flex(center, flex-start);
  margin: 2em 0 0 0;
}

.btns {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 30%;
  margin: 4em 0 0 0;
}

.feedback {
  color: $validColor;
}
