//imports
@import url('https://fonts.googleapis.com/css?family=Mali:300,400,700|Mogra|Molle:400i|Raleway:300,400,700,800&subset=latin-ext');

//fonts
$primaryFont: 'Raleway', sans-serif;
$primatyHeaderFont: 'Molle', cursive;
$primaryHeaderThirdFont: 'Mali', cursive;
$primaryHeaderSecondFont: 'Mogra', cursive;

//colors
$primaryColor: #3ebbf0;
$primaryDarkColor: #2e8cb4;
$primaryLittleDarkColor: #1c97c0;
$primaryLittleDark85AlfaColor: rgba(25, 152, 194, 0.85);
$primaryFontColor: #4f4f4f;
$littleShadowColor: rgba(170, 170, 170, 0.6);
$whiteColor: #fff;
$blackColor: #000;
$validColor: rgb(245, 85, 85);

$revenuesColors: (
  '1': rgb(86, 233, 147),
  '95': rgba(98, 226, 151, 0.95),
  '65': rgba(98, 226, 151, 0.65),
  '45': rgba(98, 226, 151, 0.45),
);

$expensesColors: (
  '1': rgb(255, 119, 119),
  '95': rgba(250, 94, 94, 0.95),
  '65': rgba(250, 94, 94, 0.65),
  '45': rgba(250, 94, 94, 0.45),
);

$little20AlfaShadowColor: rgba(0, 0, 0, 0.2);
