@import "../../config/config";

.wrapper {
    width: 100%;
    padding: 1em 0 0 1em;
    color: $primaryColor;
}

.book {
    font-family: $primatyHeader;
    font-size: 55px;
    font-weight: 400;
    height: 50px;
}

.middleWrapper {
    position: relative;
    height: 70px;
    .icon {
        position: absolute;
        transform: rotate(-15deg);
        top: -7.5px;
        left: -15px;
        font-size: 5em;
    }
    .of {
        position: absolute;
        left: 40px;
        font-family: $middleLogoFont;
        font-size: 47px;
        font-style: italic;
    }
    .internalWrapper {
        position: absolute;
        left: 45px;
        bottom: 5px;
        display: flex;
        font-size: 21px;
        font-family: $bottomLogoFont;
    }
}
