@import "../../styles/imports.scss";

//abstract class
.wrapper {
  position: relative;
  color: $primaryColor;
}
.book {
  font-weight: 400;
  height: 50px;
  font-family: $primatyHeaderFont;
}
.middle_wrapper {
  position: relative;
}
.icon {
  position: absolute;
}
.of {
  position: absolute;
  font-style: italic;
  font-family: $primaryHeaderSecondFont;
}
.internal_wrapper {
  position: absolute;
  font-family: $primaryHeaderThirdFont;
}

//by start view
.wrapper_start {
  @extend .wrapper;
  padding: 1em 0 0 1em;
  .book {
    font-size: 55px;
  }

  .middle_wrapper {
    height: 70px;
    .icon {
      transform: rotate(-15deg);
      top: -7.5px;
      left: -15px;
      font-size: 5em;
    }
    .of {
      left: 40px;
      font-size: 47px;
    }
    .internal_wrapper {
      left: 45px;
      bottom: 5px;
      display: flex;
      font-size: 21px;
    }
  }
}

//by home view
.wrapper_home {
  @extend .wrapper;
  padding: 1em 0 0 1em;

  .book {
    font-size: 42px;
  }
  .iconRight,
  .iconLeft {
    @extend .icon;
  }
  .iconLeft {
    font-size: 35px;
    top: 0px;
    left: 40px;
    transform: rotate(-20deg);
  }
  .iconRight {
    font-size: 30px;
    top: 5px;
    left: 55px;
    transform: rotate(20deg);
  }
  .of {
    top: 25px;
    left: 125px;
    font-size: 17px;
  }
  .internal_wrapper {
    position: absolute;
    display: flex;
    top: 37px;
    left: 125px;
    font-size: 15px;
  }
}
