@import '../../styles/imports.scss';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  background: $little20AlfaShadowColor;
  &__section {
    position: relative;
    width: 80%;
    height: 550px;
    margin: 10vh auto;
    background: $whiteColor;
    border: 1.5px solid $primaryColor;
    border-radius: 20px;
    box-shadow: 0 5px 2px 0 $littleShadowColor;
  }
}
