@import "../../styles/imports.scss";

.wrapper {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: 99998;
  transition: transform 150ms ease-in-out;
}

.open {
  @extend .wrapper;
  transform: translateX(0);
  background-color: $little20AlfaShadowColor;
}

.close {
  @extend .wrapper;
  transform: translateX(100vw);
}

.icon {
  position: absolute;
  &:first-child {
    color: $whiteColor;
    transition: transform 2000ms ease-out;
  }
  &:last-child {
    left: 30px;
    color: $primaryDarkColor;
    transition: transform 3000ms ease-out;
  }
}

.close,
.open {
  &__header {
    position: relative;
  }

  &__nav {
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    transition: transform 1000ms ease-in-out;
    background: $primaryColor;
    box-shadow: -2px 0 10px 10px $little20AlfaShadowColor;
  }

  &__list {
    margin: 6em 0 0 0;
    list-style-type: none;
  }
}

.open {
  &__nav {
    transform: translateX(0);
  }
  
  &__icon {
    @extend .icon;
    font-size: 5em !important;
    visibility: visible;
    &:first-child {
      transform: rotate(-10deg);
    }
    &:last-child {
      transform: rotate(30deg);
    }
  }
}

.close {
  &__nav {
    transform: translateX(50vw);
  }

  &__icon {
    @extend .icon;
    visibility: hidden;
    &:first-child {
      transform: rotate(100deg);
    }
    &:last-child {
      transform: rotate(0deg);
    }
  }
}
